[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CodeDepends"]
	path = CodeDepends
	url = https://github.com/duncantl/codedepends
